<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}

    <div class="copyright">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       ©  
       {{ now.Format "2006"}} 
       {{ .Site.Params.Author }}
    {{ end }}
    </div>

    {{ if ne .Site.Params.showPowerBy false }}
      <div class="powerby">
        {{ i18n "poweredBy" | safeHTML }}
      </div>
    {{ end }}
</footer>

{{ range .Site.Params.customJS }}
    {{ if ( or ( hasPrefix . "http://" ) ( hasPrefix . "https://" ) ) }}
        <!-- remote js -->
        <script src="{{ . }}"></script>
    {{ else }}
        <!-- local js -->
        <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
    {{ end }}
{{ end }}
<script src="https://lib.baomitu.com/instantclick/3.1.0/instantclick.min.js"></script>
<script data-no-instant>InstantClick.init();</script>
